<!DOCTYPE html>
<html>
<head>
    <title>企业管理</title>
	<#include "/header.html"/>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("room:organization:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("room:organization:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("room:organization:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-2 control-label">省份</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="organization.proName" @click="orgTree" placeholder="省份"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">市</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="organization.cityName" @click="cityTree"  placeholder="市"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">企业名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="organization.name" placeholder="企业名称"/>
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<div class="col-sm-2 control-label">排序</div>-->
                        <!--<div class="col-sm-10">-->
                            <!--<input type="text" class="form-control" v-model="organization.orderNum" placeholder="排序"/>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<div class="col-sm-2 control-label">是否删除  -1：已删除  0：正常</div>-->
                        <!--<div class="col-sm-10">-->
                            <!--<input type="text" class="form-control" v-model="organization.delFlag" placeholder="是否删除  -1：已删除  0：正常"/>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-group">
                        <div class="col-sm-2 control-label">企业代码</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="organization.code" placeholder="企业代码"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">详细地址</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="organization.adress" placeholder="详细地址"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">联系电话</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="organization.phone" placeholder="联系电话"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">联系人</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="organization.attenName" placeholder="联系人"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">官网地址</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="organization.website" placeholder="官网地址"/>
                        </div>
                    </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>
<div id="orgLayer" style="display: none;padding:10px;">
    <ul id="orgTree" class="ztree"></ul>
</div>

<div id="cityLayer" style="display: none;padding:10px;">
    <ul id="cityTree" class="ztree"></ul>
</div>

<script src="${request.contextPath}/statics/js/modules/room/organization.js?_${.now?long}"></script>

</body>
</html>